<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="buisnessDelegate" class="com.revature.impl.BusinessDelegateImpl" />

	<bean name="dataService" class="com.revature.impl.DataServiceImpl" />
	
	<bean name="dao" class="com.revature.impl.DAOImpl" />
	
	
</beans>
